[submodule "clip-fields"]
	path = clip-fields
	url = https://github.com/leo20021210/clip-fields
[submodule "usa"]
	path = usa
	url = https://github.com/leo20021210/usa
[submodule "lerf"]
	path = lerf
	url = https://github.com/leo20021210/lerf
[submodule "GrasperNet"]
	path = GrasperNet
	url = https://github.com/NYU-robot-learning/GrasperNet
[submodule "anygrasp"]
	path = anygrasp
	url = https://github.com/NYU-robot-learning/anygrasp
