[submodule "home-robot"]
	path = home-robot
	url = https://github.com/leo20021210/home-robot
[submodule "GrasperNet"]
	path = GrasperNet
	url = https://github.com/NYU-robot-learning/GrasperNet
[submodule "voxel-map/Detic"]
	path = voxel-map/Detic
	url = https://github.com/notmahi/Detic
[submodule "voxel-map/LSeg"]
	path = voxel-map/LSeg
	url = https://github.com/notmahi/LSeg
