[submodule "Detic"]
	path = Detic
	url = https://github.com/notmahi/Detic
[submodule "LSeg"]
	path = LSeg
	url = https://github.com/notmahi/LSeg
[submodule "scenic"]
	path = scenic
	url = https://github.com/google-research/scenic.git
